<?xml version="1.0"?>
<robot name="read_ball" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="read_ball_link">
        <inertial>
            <mass value="0.0001"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
        </inertial>
        <visual>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference="read_ball_link">
      <material>Gazebo/Red</material>
    </gazebo>
</robot>